{
  "parser": "babel-eslint",
  "extends": "standard",
  "rules": {
    "semi": [2, "always"],
    "no-trailing-spaces": [0, { "skipBlankLines": true }]
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Phaser": false,
    "game": false
  }
}
